.App-container {
  height: 100%;
  width: 100vw;
}

.Pokedex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Pokecard-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.Pokecard-image {
  max-width: 100px;
}

.Pokecard-image-container {
  border-bottom: 2px solid black;
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}